services:
  wordpress:
    build: .
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8080:80'
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
      WORDPRESS_DEBUG: true
      FIBERPAYGW_AUTO_SETUP: '1'
      WP_URL: 'http://localhost:8080'
      WP_TITLE: 'Fiberpay Dev'
      WP_ADMIN_USER: 'admin'
      WP_ADMIN_PASSWORD: 'admin123'
      WP_ADMIN_EMAIL: 'admin@example.com'
      WORDPRESS_CONFIG_EXTRA: |
        define( 'WP_DEBUG_LOG', true );
        define( 'WP_DEBUG_DISPLAY', false );
        @ini_set( 'display_errors', 0 );
        define( 'SCRIPT_DEBUG', true );
    volumes:
      - wordpress:/var/www/html
      - .:/var/www/html/wp-content/plugins/fiberpay-payment-gateway

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-u', 'exampleuser', '-pexamplepass']
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    volumes:
      - db:/var/lib/mysql

volumes:
  wordpress:
  db:
